div, nav, header, main, footer {
    border: 0.5px solid red;
}


/* global elements */

body {
  font-family: 'Helvetica', sans-serif;
  color: #4A4A4A;
  font-size: 16px;
}

strong {
  font-weight: 700;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

p {
  line-height: 1.4;
  padding: 0.5rem 0;
}

span {
  font-weight: lighter;
}

header, .logo, nav ul, .hero-container {
  display: flex;
  align-items: center;
}

/* header elements */

header {
  position:fixed;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
}

/* logo and brand name elements */

.logo-container {
  height: 2rem;
}

.logo, nav {
  margin: 0 1.5rem;
}

/* navigation elements */

nav li {
  padding: 0 0.5rem;
  font-size: 0.85rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/* main body elements */

main {
  position: relative;
  top: 4rem;;
}

/* hero banner elements */

.hero-container {
  background-color: #D8D8D8;
}

.hero-banner {
  margin: 2rem 1.5rem;
  width: 60%;
}

.hero-banner img {
  width: 100%;
}

.hero-body {
  width: 30%;
}

.hero-cta {
  background-color: #4A4A4A;
  color: #F8F8F8;
  text-align: center;
  margin-top: 1rem;
}
