
/*
 div, nav, header, main, footer {
    border: 0.5px solid red;
}

/* global & shared elements */

body {
  color: #4A4A4A;
  font-size: 16px;
  margin: auto;
}

header, footer, .quoter {
  font-family: 'Helvetica', sans-serif;
}

header {
  position: fixed;
  height: 4rem;
  z-index: 2;
}

strong {
  font-weight: 700;
}

main {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-weight: 700;
  padding: 1rem 0;
}

h3 {
  font-weight: 500;
  padding-right: 1rem;
}

a {
  text-decoration: none;
}

span, p {
  font-weight: 300;
  line-height: 1.4;
}

header, .logo, nav ul, .thesis-wrapper, footer {
  display: flex;
}

header, .logo, nav ul, .thesis-container, .thesis, footer {
  align-items: center;
}

header, footer {
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
}

main {
  position: relative;
  top: 4rem;
}

.image img {
  width: 100%;
  height: auto;
}

.body p {
  padding: 0.5rem 1rem 0 0;
}

/* top nav, logo and brand name elements */

.logo-container, .mobile-nav {
  height: 2rem;
}

.logo, nav {
  margin: 0 1.5rem;
}

.logo span {
  font-size: 1.2rem;
}

/* generic navigation elements */

nav li {
  padding: 0 0.5rem;
  font-size: 0.85rem;
}

nav a {
  color: #4A4A4A;
}

/* hero banner elements */

.hero-container {
  background-color: #D8D8D8;
  padding-bottom: 1rem;
}

.hero-banner img, .main-feature img, .thesis-feature video {
  width: 100%;
}

.hero-title {
  padding-right: 2rem;
}

.hero-body p {
  padding: 1.1rem 1rem 0 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.hero-cta {
  text-align: center;
  margin-top: 1.5rem;
}

.hero-cta a {
  color: #F8F8F8;
  font-weight: 300;
}

/* feature elements */

.features {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.main-feature p, {
  padding: 1.5rem 0;
}

.quoter {
  font-size: 0.6rem;
  font-weight: normal;
}

.feature a {
  color: #6193DD;
}

/* course catalog elements */

.courses-header, .thesis-header {
  text-align: center;
}

.courses-catalog {
  margin: auto;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.course {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  background-color: #ffffff;
  margin: 1rem;
  padding-bottom: 1.5rem;
}

.course h3 {
  padding: 1rem 1rem 0.25rem 1rem;
}

.course p {
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.course img {
  width: 100%;
  height: auto;
}

/* thesis exhibit elements */

.thesis-container {
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

.theses {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.thesis .image {
  width: 35%;
  padding: 1rem;
}

/* footer elements */

footer {
  position: relative;
  padding: 1rem 0 1rem 0;
}

footer span {
  padding-left: 1.5rem;
  font-size: 0.78rem;
}

/*  RESPONSIVE RULES BELOW */

/* responsive style for anything above 768px (standard tablet landscape; large tablet portrait)  */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .thesis-feature h3, .feature h3 {
    font-size: 1rem;
  }
  .body p, .feature p {
    font-size: 1rem;
  }
  .tablet-nav, .mobile-nav {
    display: none;
  }
}

/* responsive style for below 768px (will cut out when responsive for 650px kicks in)  */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: .85rem;
  }
  p {
    font-size: 0.78rem;
  }
  .course p {
    display: none;
  }
}

/* responsive rules for style breaks between 650px and 768px */

@media only screen and (min-width: 650px) {
  .tablet-nav, .mobile-nav, .mobile-courses, .mobile-image {
    display: none;
  }
  .hero-container, .feature-container, .feature, .courses-catalog, .thesis {
    display: flex;
  }
  .hero-container, .feature {
    align-items: center;
  }
  .hero-banner, .main-feature, .thesis-feature {
    margin: 2rem 1.5rem 1rem 1.5rem;
    width: 60%;
  }
  .hero-body {
    width: 40%;
    line-height: 1.2;
  }
  .hero-cta {
    background-color: #4A4A4A;
    padding: 0.5rem 0;
  }
  .courses-container {
    background-color: #EAEBEC;
    padding: 1rem 4.5rem;
  }
  .body {
    width: 65%;
  }
  .features {
    width: 40%;
  }
  .feature .image {
    width: 35%;
    margin: 1rem;
  }
  .feature img {
    width: 100%;
    height: auto;
  }
  .feature:last-child, .thesis:first-child {
    background-color: #D8D8D8;
  }
  .thesis-container {
    background-color: #F3F5F5;
  }
  .thesis-feature h3, .feature h3 {
    font-size: 0.85rem;
  }
  .thesis-feature p {
    padding: 1.5rem 0;
  }
  .body p, .feature p {
    font-size: 0.7rem;
  }
}

/* responsive rules style breaks below 650px for small tablets */

@media only screen and (max-width: 650px) {
  .desktop-nav, .mobile-nav, .courses-catalog, .feature .image, .theses, .thesis-feature h3, .thesis-feature p {
    display: none;
  }
  .hero-title {
    overflow: hidden;
  }
  .hero-banner {
    margin-bottom: 1rem;
    width: 100%;
  }
  .hero-body {
    width: 100%;
    line-height: 1.2;
    margin: 1rem;
  }
  .hero-cta {
    background-color: #9B9B9B;
    padding: 0.5rem 0;
  }
  .main-feature {
    display: none;
  }
  .feature {
    width: 100%;
    margin-bottom: 2rem;
  }
  .mobile-image {
    margin: 1rem;
  }
  .mobile-image img {
    width: 100%;
    height: auto;
  }
  .feature .body {
    padding-left: 2rem;
  }
  .courses-container {
    margin: 2rem 1rem;
  }
  .mobile-courses li {
    margin: 0.25rem 0;
    padding: 1.125rem 1rem 1.5rem 1rem;
    background-color: #EAEBEC;
  }
  .mobile-courses h3 {
    font-size: 0.95rem;
  }
}

/* responsive rules style breaks below 480px for mobile phones */

@media only screen and (max-width: 480px) {
  .logo-container, .desktop-nav, .tablet-nav, .courses-catalog {
    display: none;
  }
  nav {
    width: 100%;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer nav {
    display: none;
  }
}

/* responsive specific rules end here */
