
/* --
div, nav, header, main, footer {
    border: 0.5px solid red;
}


/* global elements */

body {
  color: #4A4A4A;
  font-size: 16px;
  margin: auto;
}

header, footer, .quoter {
  font-family: 'Helvetica', sans-serif;
}

strong {
  font-weight: 700;
}

main {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  padding-top: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

span, p {
  font-weight: lighter;
  line-height: 1.4;
  font-size: 0.78rem;
}

header, .logo, nav ul, .hero-container, .feature-container, .feature {
  display: flex;
}

header, .logo, nav ul, .hero-container, .feature {
  align-items: center;
}

/* header elements */

header {
  position: fixed;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  z-index: 2;
  background-color: #ffffff;
}

/* logo and brand name elements */

.logo-container {
  height: 2rem;
}

.logo, nav {
  margin: 0 1.5rem;
}

.logo span {
  font-size: 1.2rem;
}

/* navigation elements */

nav li {
  padding: 0 0.5rem;
  font-size: 0.85rem;
}

nav a {
  color: #4A4A4A;
}

/* main body elements */

main {
  position: relative;
  top: 4rem;;
}

/* hero banner elements */

.hero-container, .feature:last-child {
  background-color: #D8D8D8;
}

.hero-banner, .main-feature {
  margin: 2rem 1.5rem;
  width: 60%;
}

.hero-banner img, .main-feature img {
  width: 100%;
}

.hero-body {
  width: 40%;
  line-height: 1.2;
}

.hero-title {
  padding-right: 2rem;
}

.hero-body p {
  padding-top: 1.1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.hero-cta {
  background-color: #4A4A4A;
  text-align: center;
  margin: 1.8rem 3.8rem 0 0;
  padding: 0.5rem 0;
}

.hero-cta a {
  color: #F8F8F8;
  font-weight: 300;
}

/* feature elements */

.features {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.feature .image {
  width: 35%;
  padding: 1rem;
}

.feature .image img {
  width: 100%;
  height: auto;
}

.feature .body {
  width: 65%;
}

.main-feature p {
  padding: 1.5rem 0;
}

.quoter {
  font-size: 0.6rem;
  font-weight: normal;
}

.feature .body p {
  padding: 0.5rem 1rem 0.5rem 0;
}

/* course catalog elements */


.courses-container {
  background-color: #EAEBEC;
  padding: 0 4.5rem;
}

.courses-header {
  text-align: center;
  padding-bottom: 1rem;
}

.courses-catalog {
  margin: auto;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.course {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  background-color: #ffffff;
  margin: 1rem;
  padding-bottom: 1.5rem;
}

.course h3 {
  padding: 1rem 1rem 0.25rem 1rem;
}

.course p {
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.course img {
  width: 100%;
  height: auto;
}
